* {
    font-family: sans-serif;
}
html,body{
    height: 100%;

}
.cabeza {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: black;
    
}

.cabeza ul li{
    margin: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cuerpo{
    background-color:aliceblue;
    height: 80%;
    background-image: url(../Recursos/fondo1.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
}

.pie{
    
    height: 10%;
    background-color: black;
}
